# Running Neural Networks with Traffic

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
checkpoint5_traffic = pd.read_csv('../checkpoint5_traffic.csv')
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,fare_amount,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,4.5,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,16.9,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,5.7,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,7.7,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,5.3,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,14.0,0.400000
54125940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,4.2,0.083333
54125941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,14.1,0.400000
54125942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,28.9,0.083333
54125943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,7.5,0.400000

In [4]:
labels = checkpoint5_traffic[['fare_amount']]
labels

          fare_amount
0                 4.5
1                16.9
2                 5.7
3                 7.7
4                 5.3
...               ...
54125939         14.0
54125940          4.2
54125941         14.1
54125942         28.9
54125943          7.5

[54125944 rows x 1 columns]

In [5]:
del checkpoint5_traffic['fare_amount']
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,0.400000
54125940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,0.083333
54125941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,0.400000
54125942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,0.083333
54125943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,0.400000

In [6]:
del checkpoint5_traffic['time']
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,day,weekend,holiday,peak_hour,hotspot,dist,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,0,0,0,1,0,1.030764,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,1,0,0,1,0,8.450134,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,3,0,0,0,1,1.389525,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,5,1,0,0,1,2.799270,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,1,0,0,1,0,1.999157,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,5,1,0,0,0,4.334397,0.400000
54125940,-73.957784,40.765530,-73.951640,40.773959,1,1,0,0,0,0,1.070590,0.083333
54125941,-73.970505,40.752325,-73.960537,40.797342,1,5,1,0,0,0,5.075548,0.400000
54125942,-73.980901,40.764629,-73.870605,40.773963,1,2,0,0,0,0,9.346157,0.083333
54125943,-73.969722,40.797668,-73.970885,40.783313,1,4,1,0,0,0,1.599203,0.400000

In [7]:
sc = StandardScaler()
checkpoint_5_scaled = np.array(sc.fit_transform(checkpoint5_traffic))
labels_scaled = np.array(labels)
print("successfully scaled...")

successfully scaled...

In [8]:
print("splitting...")
#splitting data into train test 
X_train, X_test, y_train, y_test = train_test_split(checkpoint_5_scaled, labels_scaled, test_size=0.2, random_state=42)

splitting...

In [9]:
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_train shape: (43300755, 12)
y_train shape: (43300755, 1)
X_test shape: (10825189, 12)
y_test shape: (10825189, 1)

## Creating the Neural Network

In [10]:
#Creating a Simple Neural Network model
model = Sequential()
#The input_shape is kept at 12 as we have 12 features that we are sending into the neural network
model.add(Dense(16, input_shape=(12,)))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(1, activation='linear'))

model.compile(optimizer='adam', loss='mse', metrics=[tf.keras.metrics.RootMeanSquaredError(),tf.keras.metrics.MeanAbsoluteError()])

In [11]:
print(model.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                208

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 16)                272

 dense_3 (Dense)             (None, 16)                272

 dense_4 (Dense)             (None, 16)                272

 dense_5 (Dense)             (None, 16)                272

 dense_6 (Dense)             (None, 16)                272

 dense_7 (Dense)             (None, 16)                272

 dense_8 (Dense)             (None, 16)                272

 dense_9 (Dense)             (None, 1)                 17

=================================================================
Total params: 2,401
Trainable params: 2,401
Non-trainable params: 0
_________________________________________________________________
None

In [12]:
history = model.fit(X_train, y_train, epochs = 30)

model.save('NN_traffic_density_v2.h5')

history_df = pd.DataFrame(history.history)
history_df.to_csv('NN_traffic_History.csv',index=False )

Epoch 1/30
1353149/1353149 [==============================] - 657s 483us/step - loss: 499.0108 - root_mean_squared_error: 22.3386 - mean_absolute_error: 2.4299
Epoch 2/30
1353149/1353149 [==============================] - 638s 471us/step - loss: 591.8590 - root_mean_squared_error: 24.3282 - mean_absolute_error: 2.5414
Epoch 3/30
1353149/1353149 [==============================] - 638s 471us/step - loss: 441.9926 - root_mean_squared_error: 21.0236 - mean_absolute_error: 2.3112
Epoch 4/30
1353149/1353149 [==============================] - 635s 469us/step - loss: 441.9246 - root_mean_squared_error: 21.0220 - mean_absolute_error: 2.2733
Epoch 5/30
1353149/1353149 [==============================] - 646s 477us/step - loss: 440.0592 - root_mean_squared_error: 20.9776 - mean_absolute_error: 2.2509
Epoch 6/30
1353149/1353149 [==============================] - 633s 468us/step - loss: 518.8151 - root_mean_squared_error: 22.7775 - mean_absolute_error: 2.2421
Epoch 7/30
1353149/1353149 [==============================] - 642s 475us/step - loss: 449.1151 - root_mean_squared_error: 21.1923 - mean_absolute_error: 2.2296
Epoch 8/30
1353149/1353149 [==============================] - 643s 475us/step - loss: 440.1725 - root_mean_squared_error: 20.9803 - mean_absolute_error: 2.2048
Epoch 9/30
1353149/1353149 [==============================] - 641s 474us/step - loss: 444.7083 - root_mean_squared_error: 21.0881 - mean_absolute_error: 2.1932
Epoch 10/30
1353149/1353149 [==============================] - 636s 470us/step - loss: 440.7944 - root_mean_squared_error: 20.9951 - mean_absolute_error: 2.2135
Epoch 11/30
1353149/1353149 [==============================] - 640s 473us/step - loss: 442.0507 - root_mean_squared_error: 21.0250 - mean_absolute_error: 2.2022
Epoch 12/30
1353149/1353149 [==============================] - 638s 472us/step - loss: 440.7519 - root_mean_squared_error: 20.9941 - mean_absolute_error: 2.2011
Epoch 13/30
1353149/1353149 [==============================] - 636s 470us/step - loss: 679.8462 - root_mean_squared_error: 26.0739 - mean_absolute_error: 2.3088
Epoch 14/30
1353149/1353149 [==============================] - 646s 478us/step - loss: 442.3195 - root_mean_squared_error: 21.0314 - mean_absolute_error: 2.3462
Epoch 15/30
1353149/1353149 [==============================] - 640s 473us/step - loss: 442.5853 - root_mean_squared_error: 21.0377 - mean_absolute_error: 2.2738
Epoch 16/30
1353149/1353149 [==============================] - 643s 475us/step - loss: 453.6279 - root_mean_squared_error: 21.2985 - mean_absolute_error: 3.3385
Epoch 17/30
1353149/1353149 [==============================] - 641s 474us/step - loss: 445.6223 - root_mean_squared_error: 21.1098 - mean_absolute_error: 2.6573
Epoch 18/30
1353149/1353149 [==============================] - 646s 477us/step - loss: 452.2397 - root_mean_squared_error: 21.2659 - mean_absolute_error: 2.7484
Epoch 19/30
1353149/1353149 [==============================] - 634s 469us/step - loss: 4234.3887 - root_mean_squared_error: 65.0722 - mean_absolute_error: 2.6206
Epoch 20/30
1353149/1353149 [==============================] - 675s 499us/step - loss: 51223.0430 - root_mean_squared_error: 226.3251 - mean_absolute_error: 2.6640
Epoch 21/30
1353149/1353149 [==============================] - 640s 473us/step - loss: 442.9431 - root_mean_squared_error: 21.0462 - mean_absolute_error: 2.5558
Epoch 22/30
1353149/1353149 [==============================] - 643s 475us/step - loss: 486.7367 - root_mean_squared_error: 22.0621 - mean_absolute_error: 2.4839
Epoch 23/30
1353149/1353149 [==============================] - 642s 475us/step - loss: 14122.7656 - root_mean_squared_error: 118.8392 - mean_absolute_error: 2.3910
Epoch 24/30
1353149/1353149 [==============================] - 628s 464us/step - loss: 440.8093 - root_mean_squared_error: 20.9955 - mean_absolute_error: 2.2779
Epoch 25/30
1353149/1353149 [==============================] - 643s 475us/step - loss: 442.2427 - root_mean_squared_error: 21.0296 - mean_absolute_error: 2.2116
Epoch 26/30
1353149/1353149 [==============================] - 646s 477us/step - loss: 445.3636 - root_mean_squared_error: 21.1036 - mean_absolute_error: 2.2367
Epoch 27/30
1353149/1353149 [==============================] - 630s 466us/step - loss: 441.7750 - root_mean_squared_error: 21.0184 - mean_absolute_error: 2.2344
Epoch 28/30
1353149/1353149 [==============================] - 647s 478us/step - loss: 444.9889 - root_mean_squared_error: 21.0948 - mean_absolute_error: 2.2322
Epoch 29/30
1353149/1353149 [==============================] - 635s 469us/step - loss: 442.3091 - root_mean_squared_error: 21.0311 - mean_absolute_error: 2.4150
Epoch 30/30
1353149/1353149 [==============================] - 640s 473us/step - loss: 466.8998 - root_mean_squared_error: 21.6079 - mean_absolute_error: 3.9467

In [13]:
#Evaluating on X_test
model.evaluate(X_test, y_test)

338288/338288 [==============================] - 117s 341us/step - loss: 37.0321 - root_mean_squared_error: 6.0854 - mean_absolute_error: 3.9975

[37.0321044921875, 6.0854010581970215, 3.997537612915039]